<div class="mb-3" style="padding-top:20px;">
    <div class="heading">
        <h1 style="text-align: center">サイト紹介</h1>
    </div>
</div>
<div class="container">
  <div class="row">
      
    <div class="side col-lg-3">
        <div class="introduction"><p>OK日記の概要</p></div>
        <%= link_to 'サイト紹介', introduction_url, class: 'mb-1 btn btn--yellow btn--cubic w-100' %>
          

        <div class="introduction"><p>OK日記を探す</p></div>
        <%= link_to 'OK日記一覧', reports_url, class: 'mb-1 btn btn--yellow btn--cubic w-100' %>
        
        <div class="introduction"><p>ユーザーを探す</p></div>
        <%= link_to 'ユーザー一覧', users_url, class: 'mb-1 btn btn--yellow btn--cubic w-100' %>
    </div>
    
  <div class="side col-lg-9">
        <h3 class="ribbon4 w-100">OK日記の進め方</h3>
        
        <div class="title-box3">
          <div class="title-box3-title">1.行動計画を投稿する</div>
            <p>
             目標とは、目安のついたものさしのようなものです。<br>
             目標には「結果目標」と「行動目標」の2つがあります。<br>
             例えば「3ヶ月で5kgやせる」など結果に焦点をあてたものが結果目標です。<br>
             「半年で5kgやせる」という目標のために「10分間ランニングをする」など行動に焦点を当てたものが行動目標です。<br>
              私たちは結果に当ててしまいがちですが、結果に固執しすぎると、うまくいかなかったときに投げ出してしまう可能性が高まります。<br>
              そんなときに、今日、何をやるか行動計画を立てて明確な目標を達成するために何を行動するかを具体的に決めて、行動をしていけば達成感が生まれます。<br>
              達成感を育てることが自信につながり、継続するための土台を築くことができます。<br>
              小さな目標の積み重ねが大きな目標を到達していく原動力になるのです。
            </p>
        </div>
      
        <div class="title-box3">
          <div class="title-box3-title">行動計画を投稿するときのポイント</div>
            <p>
             毎朝、達成可能な小さなプチ目標を3つ登録します。<br>
             ここでポイントなのが大きすぎる目標を立てないということ。<br>
             例えば仕事日記では「仕事に出社する」「挨拶をする」「仕事が終わったら「頑張ったね」と自分を褒める」など小さな目標を立て、徐々に目標を大きくしましょう。<br>
             OK日記で大切なのは「習慣化」と「達成感」です。<br>
             毎朝、自分の決めた目標を達成できるという習慣づくりと達成感を育てることが理想の自分に到達する土台となるのです。<br>
             毎朝、投稿するのがキツいとこともあるでしょう。<br>
             その時はお休みしてOKです。<br>
             お休みしてもまた次の日に行動計画を立てれば大丈夫。大切なのは諦めないことです。
            </p>
        </div>
        
        <div class="title-box3">
          <div class="title-box3-title">2.進捗報告ページを投稿する</div>
            <p>
            自分の決めた目標が達成できたかどうかを振り返ることは目標を達成するために必要不可欠なものです。<br>
            たとえば「3ヶ月で恋人をつくる」という目標を設定したとしても「毎日、筋トレを続ける」という目標だけでは達成することはできません。<br>
            「出会いの場に参加する」など徐々に行動目標を変えていくなどの工夫が必要です。<br>
            目標達成に向けて自分の行動や傾向を客観的に捉え、次に向けて改善点を洗い出して実行していくことで行動目標が正しい方向に進むことができるものが振り返りをすることです。<br>
            進捗報告ページを投稿することで振り返りの効果を活かすことができるのです。
            </p>
        </div>
        
        <div class="title-box3">
          <div class="title-box3-title">進捗報告を投稿するときのポイント</div>
           <p>
           進捗報告をするときに大切なのは「できたことに目を向けること」です。<br>
           行動をしていくなかで目標を達成できない日もあるでしょう。<br>
           そんなときほど、できていないところに目を向けてはいけません。<br>
           目標進捗率が30%だとしても、その30%できたことに目を向け、しっかりと褒めましょう。<br>
           OK日記で大切なのは「達成感」と「習慣化」を育てることです。<br>
           できないことに目を向けていては達成感が育たずに途中で諦めてしまう可能性が高まります。<br>
           そうならないために「できたことに目を向けて、できなかったことは次の改善につなげて、新たな目標を設定してみてくださいね。
          </p>
        </div>
        
          <div class="title-box3">
          <div class="title-box3-title">3.フォロワー同士の投稿を応援し合う</div>
           <p>
            一人ではできないことでもチームで支え合うことでモチベーションが持続するものです。<br>
            たとえば、「1時間ランニングをする」という目標を立てたとき、自分ひとりでやるときと周りの人たちに報告してからやるのではやる気が変化していきます。<br>
            自分ひとりではやらなかったとしても、周囲にシェアした後では、やらなければいけないという責任感が生まれ、目標を達成することもあるでしょう。<br>
            フォロワー同士で自分の目標をシェアし合うことで目標達成するために必要な環境を提供しています。
          </p>
        </div>
        
          <div class="title-box3">
          <div class="title-box3-title">応援するときのポイント</div>
           <p>
            フォロワー同士の投稿をシェアし合うことで様々な目標の立て方や振り返りを知ることができます。<br>
            「いいな」と思った目標をパクってみたり、コメントで応援し合うことで、一体感が生まれます。<br>
            ぜひ、フォロワー同士の交流の機会を増やしてみてくださいね。
          </p>
        </div>
     </div>
  </div>
</div>
